body {
    margin: 0;
    padding: 0;
    /* background-color: #7a6ad8; */
 
    /* position: absolute; */
}

/* registration.html */

.Registration-body {
    background-image: url("../images/mosque.jpg");
    
}


.register-content {
    /* position: fixed; */
    background-color: white;  
    /* position: relative; */
    /* top: 50%; */
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    width: 400px;
    height: 610px;
    border-radius: 3%;
}

.register-form {
    width: 50%;
    float: left;
    /* border-right: 2px solid black; */
}

.register-form table { 
    padding: 12px;
    margin-left: 15px;
}


.register-form table input{
    margin: 4px ;
    width: 300px;
    padding: 8px;
    background-color: azure;
    /* border-radius: 5px; */
    color: black;
    font-style: italic;
}
.register-form table input[type ="radio"]{
    width: 10%;
    margin: 2px;
}

#signup_btn {
    width: 120px;
    height: 40px;
    margin-left: 100px;
  
    color: white;
    border-radius: 10%;
    background-color: rgb(12, 12, 130);
    font-size: 15px; 
}



td img {
    width: 50px;
    height: 50px;
    margin: 0 0 0 30px;
   
}


#form-head {
    margin: 0 0px 0 18px;
    display: flex; 
    flex-direction: row; 
    align-content: space-between;
    align-items: center;
}

#form-head h2 {
    font-weight: 600;
    color: blue;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

#form-head img {
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}


/* login.html */

.login-body {
    background-image: url("../images/praY3.avif");
    background-repeat: no-repeat;
    background-size: cover ;
}

.login-form {
    background-color: white;
    width: 300px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    padding: 18px;
    border-radius: 8%;
    box-shadow: rgba(64, 65, 65, 0.997) 6px 2px 8px 0px;

}


.login-form  form  input{
    margin: 10px 40px ;
    width: 200px;
    padding: 8px;
    background-color: azure;
    /* border-radius: 5px; */
    color: black;
    font-style: italic;
}

#login_btn {
    width: 120px;
    height: 40px;
    margin-left: 80px;  
    color: white;
    border-radius: 10%;
    background-color: rgb(12, 12, 130);
    font-size: 15px; 
}





@media (max-width: 767px) {
    .login-body {
        background-image: none;
        background-color: #7a6ad8; 
    }




}

